n8n-workflow.json
{
  "name": "Local Lead Radar - Daily Scan (Free / OpenStreetMap)",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup checklist (100% FREE - no API key, no card)\n1. Set BACKEND_URL in 'Get Config' & 'Save Leads to Backend' nodes\n2. In 'Geocode Location' & 'Query Overpass', set the User-Agent header to something identifying you, e.g. 'LocalLeadRadar/1.0 (youremail@example.com)' -- OpenStreetMap asks for this, it's free either way\n3. Add SMTP/Gmail credentials in 'Send Email'\n4. Activate workflow. Cron runs daily at 08:00.\n5. Copy the Webhook node's Production URL into the dashboard's 'n8n Webhook URL' field\n\nData source: OpenStreetMap (Nominatim geocoding + Overpass API search). No signup, no billing account, no card needed. Coverage/detail (phone, website) can be thinner than Google in smaller cities -- that's the trade-off for zero cost.",
        "height": 280,
        "width": 360
      },
      "id": "note1",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, -300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * *" }
          ]
        }
      },
      "id": "cron1",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-220, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-radar",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook1",
      "name": "Manual Scan Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-220, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://BACKEND_URL/api/config",
        "options": {}
      },
      "id": "getconfig1",
      "name": "Get Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 80]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{$json.location}}" },
            { "name": "format", "value": "json" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "LocalLeadRadar/1.0 (youremail@example.com)" }
          ]
        },
        "options": {}
      },
      "id": "geocode1",
      "name": "Geocode Location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 80]
    },
    {
      "parameters": {
        "jsCode": "// Turn the plain-English business type into an OpenStreetMap tag,\n// combine with geocoded lat/lon, and build the Overpass QL query.\nconst config = $('Get Config').first().json;\nconst geo = items[0].json[0];\nif (!geo) {\n  throw new Error('Location not found by Nominatim: ' + config.location + ' — try a broader or differently spelled location.');\n}\nconst lat = geo.lat;\nconst lon = geo.lon;\n\nconst tagMap = {\n  restaurant: 'amenity=restaurant', restaurants: 'amenity=restaurant',\n  cafe: 'amenity=cafe', cafes: 'amenity=cafe', coffee: 'amenity=cafe',\n  dentist: 'amenity=dentist', dentists: 'amenity=dentist',\n  doctor: 'amenity=doctors', doctors: 'amenity=doctors', clinic: 'amenity=clinic',\n  hospital: 'amenity=hospital', hospitals: 'amenity=hospital',\n  pharmacy: 'amenity=pharmacy', pharmacies: 'amenity=pharmacy', chemist: 'amenity=pharmacy',\n  hotel: 'tourism=hotel', hotels: 'tourism=hotel',\n  gym: 'leisure=fitness_centre', gyms: 'leisure=fitness_centre', fitness: 'leisure=fitness_centre',\n  bank: 'amenity=bank', banks: 'amenity=bank',\n  electrician: 'craft=electrician', electricians: 'craft=electrician',\n  plumber: 'craft=plumber', plumbers: 'craft=plumber',\n  lawyer: 'office=lawyer', lawyers: 'office=lawyer',\n  school: 'amenity=school', schools: 'amenity=school',\n  supermarket: 'shop=supermarket', supermarkets: 'shop=supermarket', grocery: 'shop=supermarket',\n  hairdresser: 'shop=hairdresser', salon: 'shop=hairdresser', barber: 'shop=hairdresser',\n  bakery: 'shop=bakery', bakeries: 'shop=bakery',\n  bookstore: 'shop=books',\n  mechanic: 'shop=car_repair',\n  realestate: 'office=estate_agent',\n  accountant: 'office=accountant', accountants: 'office=accountant'\n};\n\nconst q = (config.query || '').toLowerCase().trim();\nconst tag = tagMap[q];\nlet filter;\nif (tag) {\n  const [k, v] = tag.split('=');\n  filter = `[\"${k}\"=\"${v}\"]`;\n} else {\n  // fallback: no exact tag match, search business names containing the keyword\n  filter = `[\"name\"~\"${config.query}\",i]`;\n}\n\nconst radius = config.radius_meters || 5000;\nconst wanted = (config.leads_per_run || 10) * 3; // over-fetch since some results lack a name\nconst query = `[out:json][timeout:25];(node${filter}(around:${radius},${lat},${lon});way${filter}(around:${radius},${lat},${lon}););out center ${wanted};`;\n\nreturn [{ json: { overpassQuery: query } }];"
      },
      "id": "buildquery1",
      "name": "Build Overpass Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overpass-api.de/api/interpreter",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "data", "value": "={{$json.overpassQuery}}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "LocalLeadRadar/1.0 (youremail@example.com)" }
          ]
        },
        "options": {}
      },
      "id": "overpass1",
      "name": "Query Overpass",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 80]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Get Config').first().json;\nconst limit = config.leads_per_run || 10;\nconst elements = items[0].json.elements || [];\n\nfunction addr(tags) {\n  const parts = [tags['addr:housenumber'], tags['addr:street'], tags['addr:city']].filter(Boolean);\n  return parts.length ? parts.join(', ') : (tags['addr:full'] || '');\n}\n\nconst leads = elements\n  .filter(e => e.tags && e.tags.name)\n  .slice(0, limit)\n  .map(e => ({\n    place_id: 'osm-' + e.type + '-' + e.id,\n    name: e.tags.name,\n    address: addr(e.tags),\n    phone: e.tags.phone || e.tags['contact:phone'] || '',\n    website: e.tags.website || e.tags['contact:website'] || '',\n    category: e.tags.amenity || e.tags.shop || e.tags.office || e.tags.craft || e.tags.tourism || e.tags.leisure || '',\n    rating: ''\n  }));\n\nreturn leads.map(l => ({ json: l }));"
      },
      "id": "parse1",
      "name": "Parse Overpass Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 80]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "leads",
        "options": {}
      },
      "id": "agg1",
      "name": "Combine Into One List",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1240, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://BACKEND_URL/api/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { leads: $json.leads } }}",
        "options": {}
      },
      "id": "save1",
      "name": "Save Leads to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 0]
    },
    {
      "parameters": {
        "fromEmail": "your-sender@example.com",
        "toEmail": "={{$('Get Config').first().json.email}}",
        "subject": "=Aaj ke {{$json.leads.length}} naye leads - Local Lead Radar",
        "emailType": "html",
        "message": "=<h2>Aaj ke naye leads</h2><table border=\"1\" cellpadding=\"6\" style=\"border-collapse:collapse;font-family:sans-serif;font-size:13px\"><tr><th>Name</th><th>Category</th><th>Address</th><th>Phone</th><th>Website</th></tr>{{ $json.leads.map(l => `<tr><td>${l.name}</td><td>${l.category}</td><td>${l.address||'-'}</td><td>${l.phone||'-'}</td><td>${l.website||'-'}</td></tr>`).join('') }}</table><p style=\"color:#888;font-size:12px\">Source: OpenStreetMap (free, community-maintained data)</p>",
        "options": {}
      },
      "id": "email1",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1480, 160],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Daily 8AM Trigger": { "main": [[{ "node": "Get Config", "type": "main", "index": 0 }]] },
    "Manual Scan Webhook": { "main": [[{ "node": "Get Config", "type": "main", "index": 0 }]] },
    "Get Config": { "main": [[{ "node": "Geocode Location", "type": "main", "index": 0 }]] },
    "Geocode Location": { "main": [[{ "node": "Build Overpass Query", "type": "main", "index": 0 }]] },
    "Build Overpass Query": { "main": [[{ "node": "Query Overpass", "type": "main", "index": 0 }]] },
    "Query Overpass": { "main": [[{ "node": "Parse Overpass Results", "type": "main", "index": 0 }]] },
    "Parse Overpass Results": { "main": [[{ "node": "Combine Into One List", "type": "main", "index": 0 }]] },
    "Combine Into One List": {
      "main": [
        [
          { "node": "Save Leads to Backend", "type": "main", "index": 0 },
          { "node": "Send Email", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
